
   <div *ngIf="!isLoggedIn">

   </div>
<form [formGroup]="loginForm">
    <div class="form-group">
        <label for="email">رایانامه</label>
        <input type="text" class="form-control" id="email" formControlName="email" [(ngModel)]="loginForm.email">
    
        </div>
    </div>


    <div class="form-group">
        <label for="password">رمزعبور</label>
        <input type="password" class="form-control" id="password" formControlName="password" [(ngModel)]="loginForm.password">
    </div>

   
    </div>
  <div>
        <button class="btn btn-default" (click)="login()">Login</button>
         <button class="btn btn-default" (click)="logout()">Logout</button>
        <a href="/" class="btn btn-default">Close</a>
       <button class="btn btn-default" (click)="displayName()">displayName</button>
</div>

   
</form>